.configuracoes-container {
    width: 100%;
    height: 100%;
    padding: 0 8%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.configuracoes-card {
    width: 250px;
    height: 250px;
    background-color: #F3C623;
    color: #FFF;
    margin: 20px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 7px;
    transition: 200ms;
}

.configuracoes-card:hover {
    cursor: pointer;
    background-color: #ceaa29;
    transition: 200ms;
}

.configuracoes-card-icon {
    font-size: 100px;
}

.configuracoes-card-title {
    font-size: 14pt;
    font-weight: 500;
}

.empty {    
    border: none;
    background: transparent;
}
